//- menu mixin
mixin nav(root, items)
	ul(class=root)
		each item, i in items
			if i === pageId
				li(class=root + "__item").active
					a(href=item.href)= item.name
			else
				li(class=root + "__item")
					a(href=item.href)= item.name
